* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, sans-serif;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../images/Fondo.webp) no-repeat center;
    background-color: #f5f7fa;
    color: #333;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background-color: #1f3c88;
}

.logo img {
    height: 100px;
}

.logo img:hover {
    transform: translateY(-5px);
    transition: transform 0.5s ease;
}

.botones-header {
    display: flex;
    gap: 15px;
}

.btn {
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: 500;
    transition: 0.2s ease;
}

.login {
    background-color: transparent;
    color: #f5f7fa;
    border: 1px solid #f5f7fa;
}

.login:hover {
    background-color: #f5f7fa;
    color: #1f3c88;
}

.register {
    background-color: #f5f7fa;
    color: #1f3c88;
    border: 1px solid #f5f7fa;
}

.register:hover {
    background-color: transparent;
    color: #f5f7fa;
}

.footer {
    margin-top: 60px;
    padding: 20px;
    text-align: center;
    background-color: #1f3c88;
    color: white;
    font-size: x-small;
}

.footer a {
    color: #f5f7fa;
    text-decoration: none;
    font-weight: 500;
}

.footer a:hover {
    text-shadow: #f5f7fa 0px 0px 5px;
}

@media (max-width: 768px) {
    .main-header {
        flex-direction: column;
        gap: 15px;
    }

    main {
        padding: 20px;
    }
}